<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Добавить издательсво</title>
</head>
<body>
    <h1>
        Практическая под защиту
    </h1>
    <h2>ДОБАВИТЬ ИЗДАТЕЛЬСТВО</h2>
    <form action="/add-publishing-house" method="POST">

        <input type="text" id="name" name="name" placeholder="наименование издательсва" required>

        <button type="submit">Добавить</button>
    </form>
</body>
</html>