<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <h1>
        Практическая под защиту
    </h1>
    <h2>
        АВТОРИЗАЦИЯ
    </h2>

    <form action="/login" method="POST">
        <input type="text" name="login" placeholder="Имя" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Войти</button>
    </form>

    <a href="/register"><button>Регистрация</button></a>

</body>
</html>