<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <h1>
        Практическая с ролями
    </h1>
    <h2>
        ПРОФИЛЬ
    </h2>

    <a href="/admin"><button>Админ панель</button></a>

    <a href="/logout"><button>Выход</button></a>

</body>
</html>